<header>
  <a routerLink="/" class="ddivera1">
    <p>
      <span class="spdd">Step</span> <br />
      <span class="spdd1">Restourant</span>
    </p>
  </a>

  <div class="header1">
    <a class="a1" routerLink="/">🍕 Home</a>

    <a routerLink="/basket" class="cart-icon">
      <span class="material-icons"> 🛵 shopping_cart</span>
      <span *ngIf="cartItemCount > 0" class="cart-count">{{
        cartItemCount
      }}</span>
    </a>
  </div>

  <button
    class="hamburger"
    [class.open]="isMenuOpen"
    (click)="toggleMenu()"
    aria-label="Menu"
  >
    <div id="bar1" class="bar"></div>
    <div id="bar2" class="bar"></div>
    <div id="bar3" class="bar"></div>
  </button>

  <div class="navigation" [class.active]="isMenuOpen">
    <nav>
      <ul>
        <a routerLink="/" (click)="closeMenu()"><li>🍕 Home</li></a>
        <a routerLink="/basket" (click)="closeMenu()">
          <li>
            🛵 Cart
            <span *ngIf="cartItemCount > 0" class="mobile-cart-count">{{
              cartItemCount
            }}</span>
          </li>
        </a>
      </ul>
    </nav>
  </div>
</header>
