<header>
  <a routerLink="/" class="ddivera1">
    <p>
      <span class="spdd">Step</span> <br />
      <span class="spdd1">Restourant</span>
    </p>
  </a>

  <div class="header1">
    <a class="a1" routerLink="/">🍕 Home</a>
    <!-- <a class="a2" routerLink="/basket">🛵 Cart</a> -->

    <a routerLink="/basket" class="cart-icon">
      <span class="material-icons"> 🛵 shopping_cart</span>
      <span *ngIf="cartItemCount > 0" class="cart-count">{{
        cartItemCount
      }}</span>
    </a>
  </div>

  <div class="navigation">
    <button class="hamburger" onclick="show()">
      <div id="bar1" class="bar"></div>
      <div id="bar2" class="bar"></div>
      <div id="bar3" class="bar"></div>
    </button>

    <nav>
      <ul>
        <a routerLink="/"><li>🍕 Home</li></a>
        <a routerLink="/basket"><li>🛵 Cart</li></a>
      </ul>
    </nav>
  </div>
</header>

<h1 class="h1dd">Categories:</h1>
