
<h1 class="h1dd">Categories:</h1>


<app-products></app-products>



<!-- <div class="sityvebidd">


    <button routerLink="/all">All</button>
    <button routerLink="secondPage">Salads</button>
    <button routerLink="thirdPage">Soups</button>
    <button routerLink="fourthPage">Chicken-Dishes</button>
    <button routerLink="fifthPage">Beef-Dishes</button>
    <button routerLink="sixthPage" >Seafood Dishes</button>
    <button routerLink="seventhPage" >Vegetable-Dishes</button>
    <button routerLink="eighthPage">Bits&Bites</button>
    <button routerLink="ninthPage">On-The-side</button>
    
</div> -->



<router-outlet></router-outlet>